@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
a {
  color: white;
}

main {
  background-color: #000000;
  width: 50%;
  min-width: 300px;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#profile-img {
  width: 60px;
  border-radius: 30px;
}

#tweet-image {
  width: 100%;
  border-radius: 10px;
}

a,
p,
small {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
}

a {
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: medium;
}

header small {
  font-size: 1rem;
  color: #cccccc;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer > span {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: grey;
}

footer > span > svg {
  width: 20px;
  height: 20px;
}

footer > span > small{
  font-size: 14px;
}
